
.table-column{
    -fx-alignment: CENTER;
}

icons, #name{
    -fx-alignment: CENTER_LEFT;
}

.toggle-button{
    -fx-background-repeat: no-repeat;
    -fx-background-color: #cccccc;
    -fx-alignment: BOTTOM_CENTER;
    -fx-content-display: top;
    -fx-background-position: center 5px;
    -fx-effect: dropshadow(two-pass-box, #113, 10, 0, 0, 9);
}

#split{ -fx-background-color: wheat; }
#border{ -fx-background-color: wheat; }

.toggle-button:selected{
    -fx-background-color: #3e8e41; 
    -fx-text-fill: #fff;
}

.toggle-button:hover {
    -fx-background-color: #999999;
    
}
.toggle-button:pressed {
  -fx-background-color: #999999;
  -fx-effect: dropshadow(three-pass-box, #666, 10, 0, 0, 5);
  -fx-translate-x: 4;
    
}
 
.button {
  -fx-background-color: #4CAF50;
  -fx-text-fill: #fff;
  -fx-border: none;
  -fx-border-radius: 15px;
  -fx-effect: dropshadow(two-pass-box, #999, 10, 0, 0, 9);
}

.button:hover {-fx-background-color: #3e8e41}

.button:pressed {
  -fx-background-color: #3e8e41;
  -fx-effect: dropshadow(three-pass-box, #666, 10, 0, 0, 5);
  -fx-translate-y: 4;
}

#save,#refresh{
    -fx-font: bold 12pt "Times New Roman"; 
    -fx-alignment: CENTER_RIGHT;
    -fx-background-repeat: no-repeat;
    -fx-content-display: left;
    -fx-background-position: 5px 7px;
    
}

#attack_styles,#sets,#other,#potions,#zulrah,#farming_herbs,#revenants, #treasure_trails{
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5px 7px;
}

#attack_styles{
    -fx-background-image: url("../slike/Buttons/Bosses.jpg");
    -fx-background-position: 0px 3px;
} 

#sets{
    -fx-background-image: url("../slike/Buttons/ArmorSet.png");
    -fx-alignment: CENTER_RIGHT;
    -fx-background-position: 6px 7px;    
}

#other{
    -fx-background-image: url("../slike/Buttons/Other.png");
    -fx-background-position: 2px 7px;
}

#potions{
    -fx-background-image: url("../slike/Buttons/Potion.png");
}

#revenants{
    -fx-background-image: url("../slike/Buttons/Revs.png"); 
    -fx-background-position: 2px 7px; 
}

#treasure_trails{
    -fx-background-image: url("../slike/Buttons/Cluescroll.png"); 
    -fx-background-position: 2px 7px; 
}

#zulrah{
    -fx-background-image: url("../slike/Buttons/ZulrahBlue.png"); 
    -fx-background-position: 2px 7px; 
}

#farming_herbs{
    -fx-background-image: url("../slike/Buttons/Farming.png");
    -fx-background-position: 2px 7px;
}

#refresh{
    -fx-background-image: url("../slike/Buttons/Refresh.png");
}

#save{
    -fx-background-image: url("../slike/Buttons/Excel.png");
}

#revenants_bar{
    -fx-background-image: url("../slike/Toggle/Revenants.png");
    -fx-background-size: 36px;
}
#treasure_bar{
    -fx-background-image: url("../slike/Toggle/Casket.png");
    -fx-background-size: 36px;
}
#zulrah_bar{
    -fx-background-image: url("../slike/Toggle/Zulrah_boss.png");
    -fx-background-size: 36px;
}
#farming_bar{
    -fx-background-image: url("../slike/Toggle/Herblore.png");
}
#potions_bar{
    -fx-background-image: url("../slike/Toggle/Potions.png");
}
#melee_bar{
    -fx-background-image: url("../slike/Toggle/Melee.png");
}
#ranged_bar{
    -fx-background-image: url("../slike/Toggle/Ranged.png");
    -fx-background-size: 25px;
}
#magic_bar{
    -fx-background-image: url("../slike/Toggle/Magic.png");
}
#raids1_bar{
    -fx-background-image: url("../slike/Toggle/Raids1.png");
}
#raids2_bar{
    -fx-background-image: url("../slike/Toggle/Raids2.png");
}
#guthans_bar{
    -fx-background-image: url("../slike/Toggle/Guthan's_armour.png");
}
#dharok_bar{
    -fx-background-image: url("../slike/Toggle/Dharok's_armour.png");
}
#food_bar{
    -fx-background-image: url("../slike/Toggle/Anchovy_pizza.png");
    -fx-background-size: 32px;
}
#res_bar{
    -fx-background-image: url("../slike/Toggle/Axe_n_pickaxe.png");
}
#ammo_bar{
    -fx-background-image: url("../slike/Toggle/Ammo.png");
}
#telruns_bar{
    -fx-background-image: url("../slike/Toggle/Teleport.png");
}
#other_bar{
    -fx-background-image: url("../slike/Toggle/Other.png");
    -fx-background-size: 32px;
}

#labelWelcome{
    -fx-font: bold 14pt "Times New Roman";        
}
